.flex-container1 {
  display: flex;
  align-items: stretch;
  /* background-color: #f1f1f1; */
}
.my-button {
  background-color: cornflowerblue;
  width: 200px;
  margin: 20px;
  text-align: center;
  line-height: 40px;
  /* font-size: 30px; */
  color: white;
  border: none;
  border-radius: 6px;
  text-transform: none;
}
.my-searchbox {
  background-color: #f1f1f1;
  width: 400px;
  margin: 20px;
  text-align: start;
  line-height: 40px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 6px;
  text-transform: none;
  color: red;
}
