.format-table {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 30px;
}
.border-input {
  /* -webkit-appearance: none; */
  border: none;
}

.format-input-cell {

}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}